<div class="row short-equipment">
  <div class="col-12 col-md-6">
    <p><i class="fa-solid fa-utensils" style="font-size: 1.2em"></i>Cuisine</p>
    <p><%= image_tag "icons/desk.png",alt: "Hébergements Toulouse - Résidence Lestang - Icône équipement", width: 18 %>Espace de travail dédié</p>
    <p><%= image_tag "icons/washing-machine.png",alt: "Hébergements Toulouse - Résidence Lestang - Icône équipement", width: 18 %>Lave-linge</p>
    <p><i class="fa-solid fa-bath"></i>Baignoire</p>
    <p><%= image_tag "icons/camera.png",alt: "Hébergements Toulouse - Résidence Lestang - Icône équipement", width: 16 %>Caméra de surveillance extérieure</p>
  </div>
  <div class="col-12 col-md-6">
    <p><i class="fa-solid fa-wifi" style="font-size: 0.8em"></i>Wifi rapide / Fibre</p>
    <p><i class="fa-solid fa-car"></i>Parking gratuit sur place</p>
    <p><i class="fa-regular fa-snowflake" style="font-size: 1.2em"></i>Climatisation centrale</p>
    <p><i class="fa-solid fa-leaf"></i>Arrière-cour privée - Clôture intégrale</p>
    <p><%= image_tag "icons/barbecue.png",alt: "Hébergements Toulouse - Résidence Lestang - Icône équipement", width: 18 %><span class="stuff">Barbecue</span></p>
  </div>
</div>
