<h3 class="text-blue">Une chambre privée dans notre logement</h3>
<p>
  Bienvenue chez nous !
  <br>Nous sommes un couple chaleureux et accueillant, et nous sommes ravis de vous accueillir chez nous.
  <br>Notre maison est située dans un quartier paisible, à proximité des transports en commun et des commodités.
  <br>Nous proposons une chambre confortable et lumineuse, équipée d'un lit Queensize.
  <br>Vous aurez également accès à une salle de bain moderne, ainsi qu'à notre cuisine et salon où vous pourrez préparer vos repas et partager des moments de convivialité avec nous.
</p>
