<p class="with-comment fw-bold">Parfait pour l'été</p>
<p class="comment">Jardin, terrasse, climatisation et barbecue</p>

<p class="with-comment fw-bold">Espace de travail dédié</p>
<p class="comment">Un espace commun avec wifi, bien aménagé pour travailler</p>

<p class="with-comment fw-bold">Annulation gratuite pendant 48 heures</p>
<p class="comment m-0">Hors frais bancaires et sauf si réservation dans les 48 heures avant la location</p>
