<p class="with-comment fw-bold">Idéal pour le télétravail</p>
<p class="comment">Une connexion wifi rapide à 68 Mbit/s, plus un espace de travail dans un espace commun.</p>

<p class="with-comment fw-bold">Parfait pour l'été</p>
<p class="comment">Jardin, terrasse et climatisation</p>

<p class="with-comment fw-bold">Arrivée autonome</p>
<p class="comment m-0">Vous pouvez entrer dans les lieux avec une serrure à digicode.</p>
