<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-circle-arrow-left'></i>"), admin_root_path, class: "back-link" %>
</div>

<header class="p-5 header-blue">
  <h1>Mes logements</h1>
</header>

<main class="container">
  <%= render "shared/rooms_description", maison: @maison, chambre: @chambre, path_maison: admin_room_path(@maison), path_chambre: admin_room_path(@chambre) %>
</main>
