// Specific CSS for your home-page

.header {
  background-image: asset-url("header.jpg");
  background-size: cover;
  background-position: center;
  padding: 11vh 0;
  width: 100%;
  text-align: center;

  .header-text {
    color: white;
    margin: 0;
    padding: 8px 0;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
  }
}

h1 {
  color: $blue;
  margin-bottom: 0;
}

.h5-home {
  color: $blue;
}

.separator {
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
  margin: 20px 40%;
}

.house-image-little-screen {
  display: none;
}

.home-rooms-description {
  padding: 1rem;
}

@media (max-width: 992px) {
  .house-image-little-screen {
    display: block;
  }

  .house-image-big-screen {
    display: none;
  }

  .images-room-little-screen {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .home-rooms-description {
    padding: 0.5rem;
  }

  .separator {
    margin: 12px 35%;
  }
}
