// General style

.indisponible {
  text-decoration: line-through;
}

.with-comment {
  margin: 0;
}

.comment {
  font-size: 0.8em;
}

// Style for room details section

#room-details {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 576px) {
  #room-details {
    flex-wrap: wrap;
    gap: 0 0.5rem;
  }
}

// Style for sleep section

.sleep {
  display: flex;
  justify-content: space-between;
  gap: 16px 0;
  margin: 0;
}

.card-sleep {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 23%;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .card-sleep {
    width: 31%;
  }
}

@media (max-width: 768px) {
  .card-sleep {
    width: 48%;
  }
}

@media (max-width: 576px) {
  .card-sleep {
    width: 70%;
  }
}

@media (max-width: 476px) {
  .card-sleep {
    width: 80%;
  }
}

.card-sleep > img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.card-sleep h6 {
  font-weight: bold;
  margin: 0;
}

.card-sleep p {
  margin: 0;
}

.card-sleep .card-sleep-infos {
  padding: 12px;
}

// Style for equipment section

.equipment {
  padding-top: 8px;

  i, img {
    position: relative;
  }

  .stuff {
    position : absolute;
    left: 45px;
  }

  .comment {
    padding-left: 1.8rem;
  }
}

.short-equipment {
  i, img {
    margin-right: 1rem;
  }
}

// Style for To Know section

.to-know {
  gap: 16px 0;
}
