<div id="carouselHomePhotos2" class="carousel carousel-dark slide pb-3" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselHomePhotos2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <% home_images.drop(1).each_with_index do |_, index| %>
      <button type="button" data-bs-target="#carouselHomePhotos2" data-bs-slide-to="<%= index + 1 %>" aria-label="Slide <%= index + 2 %>"></button>
    <% end %>
  </div>

  <div class="carousel-inner">

    <div class="carousel-item active" data-bs-interval="10000">
      <%= cl_image_tag home_images.first.key, alt: "Hébergements Toulouse - Résidence Lestang", class: "d-block carousel-home-img", loading: "lazy" %>
    </div>

    <% home_images.drop(1).each do |image_path|  %>
      <div class="carousel-item" data-bs-interval="10000">
        <%= cl_image_tag image_path.key, alt: "Hébergements Toulouse - Résidence Lestang", class: "d-block carousel-home-img", loading: "lazy" %>
      </div>
    <% end %>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselHomePhotos2" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselHomePhotos2" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
