<div id="carouselHomePhotos"
     class="carousel carousel-dark slide my-3 py-3"
     data-bs-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active" data-bs-interval="10000">
        <div class="d-flex justify-content-center gap-4">
          <% first_two_home_images.each do |image_path| %>
            <%= cl_image_tag image_path.key, alt: "Hébergements Toulouse - Résidence Lestang", class: "carousel-home-img", loading: "lazy" %>
          <% end %>
        </div>
      </div>

      <% last_two_home_images.each do |image_paths| %>
        <div class="carousel-item" data-bs-interval="10000">
          <div class="d-flex justify-content-center gap-4">
            <% image_paths.each do |image_path| %>
              <%= cl_image_tag image_path.key, alt: "Hébergements Toulouse - Résidence Lestang", class: "carousel-home-img", loading: "lazy" %>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselHomePhotos" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselHomePhotos" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
