<header class="p-3 header-blue">
  <h1 class="my-3">Contact</h1>
</header>

<main class="container">
  <section id="before-booking" class="text-center mt-3 py-3">
    <h2 class="text-blue text-center">Avant de réserver</h2>
    <div class="separator"></div>
    <p>
      Vous pouvez consulter les disponibilités et nous envoyer une demande de réservation directement
      <%= link_to "ici pour la maison", room_path(Room.first), class: "fw-bold" %> et
      <%= link_to "ici pour la chambre", room_path(Room.last), class: "fw-bold" %>.
    Nous vous répondrons dans les meilleurs délais avec le contrat de location.</p>

    <p>Pour toute question avant votre demande de réservation, vous pouvez nous contacter via le formulaire de contact.</p>
  </section>

  <section id="contact-form">
    <h2 class="text-blue text-center">Formulaire de contact</h2>
    <div class="separator"></div>
    <div class="row">
      <div class="col-12 col-lg-6 p-2 mx-auto">
        <%= render "contact_form", user: @user, rooms: @rooms %>

      </div>
    </div>
</section>
</main>
