<div class="container">
  <div class="text-center my-3">
    <h1>Où nous trouver</h1>
    <div style="width: 100%; height: 80vh;"
         data-controller="map"
         data-map-markers-value="<%= @markers.to_json %>"
         data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <h3>Saint-Jean, Occitanie, France</h3>
    <p>A proximité immédiate du Domaine de Preissac (moins de 2km en voiture et environ 15-20min à pied).</p>
    <p>Quartier résidentiel à proximité immédiate du Lac de la Tuilerie.</p>
    <h3>Se déplacer</h3>
    <p>Pour vous rendre sur Toulouse, vous avez le choix entre rejoindre la ville en voiture ou en bus, le terminus de la ligne 73 se situant à 100m de la maison (de 6h à 21h).</p>
    <h3>A proximité</h3>
    <p>Aéroport : 20min</p>
    <p>Gare TGV: 20min</p>
    <p>Domaine de Preissac: 2km</p>
    <p>Lac de la Tuilerie : 500m</p>
    <p>Capitole : 20min</p>
    <p>Stade Ernest Wallon : 15min</p>
    <p>Cité de l'Espace : 15min</p>
    <p>Parc des Exmpositions : 20min</p>
  </div>
</div>
