<div class="p-3 header-blue">
  <h1 class="my-3">Où nous trouver</h1>
</div>

<div class="container py-3">
  <h3 class="text-blue">Saint-Jean, Occitanie, France</h3>
  <p>A proximité immédiate du Domaine de Preissac (moins de 2km en voiture et environ 15-20min à pied).</p>
  <p>Quartier résidentiel à proximité immédiate du Lac de la Tuilerie.</p>

  <div class="py-3">
    <div id ="map"
         data-controller="map"
         data-map-markers-value="<%= @markers.to_json %>"
         data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="row py-3">

    <div class="col-12 col-lg-7">
      <h3 class="text-blue">Se déplacer</h3>
      <p>
        Pour rejoindre le centre ville de Toulouse, vous pouvez utiliser :
        <br><strong>- le bus :</strong> terminus de la ligne 73 (de 6h à 21h) se situant à 100m de la maison et vous conduit au terminus de la ligne de métro B.
        <br>
        <span class="collapse" id="collapseText">
          <strong>- votre voiture :</strong> possibilité de la garer dans un des innombrables parking en centre ville ou dans un des parking relais d'une station de métro. L'accès parking est inclus dans le ticket de métro, il faut juste penser à le garder avec soi quand on quitte le parking. <strong>Attention,</strong> Tisseo n'accepte pas que l'on laisse sa voiture toute la nuit sur un de leurs parkings et facture la prestation.
        </span>
        <a class="text-black fw-bold" data-bs-toggle="collapse" href="#collapseText" role="button" aria-expanded="false" aria-controls="collapseText"
           data-controller="collapse" data-action="click->collapse#hide" >
          Lire la suite
        </a>
      </p>
    </div>

    <div class="col-12 col-lg-5">
      <h3 class="text-blue">A proximité</h3>

      <div class="row">

        <div class="col-12 col-md-6 col-lg-12">
          <ul class="my-0 px-3">
            <li><strong>Aéroport :</strong> 20min</li>
            <li><strong>Gare TGV :</strong> 20min</li>
            <li><strong>Domaine de Preissac :</strong> 2km</li>
            <li><strong>Lac de la Tuilerie :</strong> 500m</li>
          </ul>
        </div>

        <div class="col-12 col-md-6 col-lg-12">
          <ul class="my-0 px-3">
            <li><strong>Capitole :</strong> 20min</li>
            <li><strong>Stade Ernest Wallon :</strong> 15min</li>
            <li><strong>Cité de l'Espace :</strong> 15min</li>
            <li><strong>Parc des Exmpositions : </strong> 20min</li>
          </ul>
        </div>

      </div>

    </div>

  </div>

  <div class="text-center py-4">
    <%= link_to "réservez maintenant".upcase, contact_path, class: "button-blue" %>
  </div>

</div>
