<div class="container">
  <div class="text-center my-3">
    <h1>Où nous trouver</h1>
    <h3>Saint-Jean, Occitanie, France</h3>
    <p>A proximité immédiate du Domaine de Preissac (moins de 2km en voiture et environ 15-20min à pied).</p>
    <p>Quartier résidentiel à proximité immédiate du Lac de la Tuilerie.</p>
    <h3>Se déplacer</h3>
    <p>Pour vous rendre sur Toulouse, vous avez le choix entre rejoindre la ville en voiture ou en bus, le terminus de la ligne 73 se situant à 100m de la maison (de 6h à 21h).</p>
  </div>
</div>
