<% content_for :meta_title, "Nous sommes désolés, mais un problème est survenu (500)" %>
<% content_for :meta_description, "Nous sommes désolés, mais un problème est survenu." %>

<div class="header-error">
  <div class="header-text-error">
    <h1>Erreur 500</h1>
    <% if current_user %>
      <h2>Nous sommes désolés <%= current_user.first_name %>, mais un problème est survenu.</h2>
    <% else %>
      <h2>Nous sommes désolés, mais un problème est survenu.</h2>
    <% end %>
    <p>Si le problème se répète, veuillez <%= link_to "contacter les propriétaires", contact_path, class: "text-white" %>. </p>
  </div>
  <button class="button-blue"><a href="/" class="text-white text-decoration-none">Retournez à la page d'accueil</a></button>
</div>
