<div class="carousel-background-reviews py-3">
  <div class="container" data-controller="carousel-height">
    <div id="carouselHomeReviews" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselHomeReviews" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselHomeReviews" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselHomeReviews" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner text-center" data-carousel-height-target="carousel">
        <div class="carousel-item active" data-bs-interval="12000" data-carousel-height-target="item">
          <p><%= reviews.first.content %></p>
          <p class="fw-light m-0"><%= reviews.first.author %></p>
        </div>
        <% reviews.drop(1).each do |review| %>
          <div class="carousel-item" data-bs-interval="12000"  data-carousel-height-target="item">
            <p><%= review.content %></p>
            <p class="fw-light m-0"><%= review.author %></p>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselHomeReviews" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselHomeReviews" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
