<div id="carousel-gallery-large-screen" class="carousel carousel-dark slide my-3" data-bs-ride="true">
  <div class="carousel-inner text-center">
    <div class="carousel-item active">
      <%= image_tag "#{@gallery_images.first}", alt: "Hébergements Toulouse - Résidence Lestang - Maison et Chambre", class: "img-room-carousel img-thumbnail gallery-image", loading: "lazy", data: { image_gallery_target: "image", action: "click->image-gallery#expandImage" } %>
    </div>
    <% @gallery_images.drop(1).each do |image_path| %>
      <div class="carousel-item text-center">
        <%= image_tag "#{image_path}", alt: "Hébergements Toulouse - Résidence Lestang - Maison et Chambre", class: "img-room-carousel img-thumbnail gallery-image", loading: "lazy", data: { image_gallery_target: "image", action: "click->image-gallery#expandImage" } %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-gallery-large-screen" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel-gallery-large-screen" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
