<h3 class="text-blue">Une chambre privée dans notre logement</h3>

<p>
  → Vous êtes à la recherche d'une chambre dans une maison tranquille et moins cher qu'un hôtel
</p>

<p>
  <strong class="text-blue">Le logement</strong>
  <br>100% AUTHENTIQUE : logement partagé avec les propriétaires
  <br>→ CHAMBRE située dans un quartier calme et verdoyant
  <br>→ 2 COUCHAGES avec 1 lit Queen Size
</p>

<p>
  <strong class="text-blue">Partagés avec les hôtes :</strong>
  <br>→ PLACE DE STATIONNEMENT juste devant la maison avec possibilité de se garer sur le PARKING SÉCURISÉ si besoin
  <br>→ WIFI INTERNET FIBRE pour consulter Internet gratuitement et rapidement
  <br>→ VIDEOPROJECTEUR dans le séjour équipé d'un CHROMECAST pour se divertir
  <br>→ SALLE DE YOGA pour vous détendre (musique et diffuseur d'huile essentielle)
  <br>→ KIT DE REPASSAGE pour éviter les robes ou chemises froissés
  <br>→ CUISINE EQUIPEE pour jouer les chefs étoilés et savourer la gastronomie Toulousaine
  <br>→ MACHINE À LAVER & ÉTENDOIR (intérieur et extérieur) pour avoir des vêtements propres en toutes circonstances
  <br>→ MACHINE À CAFÉ, THÉ sont présents afin de se sentir comme à la maison (prévoir café / thé)
</p>

<p>
  <strong class="text-blue">Accès des voyageurs</strong>
  <br>100% TRANQUILITE
  <br>→ Situé à 100m de la ligne 73 se rendant à une station de métro pour ne pas s'encombrer d'une voiture en ville (fonctionne de 6h à 21h)
  <br>→ Situé à 400m du lac de la Tuilerie
  <br>→ Situé à 500m d'un maître Artisan Boulanger d'exception
  <br>→ Situé à 15 min de la cité de l'Espace
  <br>→ Situé à 20 min du Capitole
</p>

<p>
  <strong class="text-blue">Autres remarques</strong>
  <br>En été, vous pourrez profiter de la climatisation.
</p>
