<h3 class="text-blue">Une chambre privée dans notre logement</h3>
<p>
  Bienvenue chez nous !
  <br>Nous sommes un couple chaleureux et accueillant, et nous sommes ravis de vous accueillir chez nous.
  <br>Notre maison est située dans un quartier paisible, à proximité des transports en commun et des commodités.
  <br>Nous proposons une chambre confortable et lumineuse, équipée d'un lit Queensize.
  <br>Vous aurez également accès à une salle de bain moderne, ainsi qu'à notre cuisine et salon où vous pourrez préparer vos repas et partager des moments de convivialité avec nous.
</p>

<p class="text-blue fw-bold">Le logement</p>
<ul>
  <li><strong>Chambre</strong> située dans un quartier calme et verdoyant</li>
  <li><strong>2 couchages</strong> avec 1 lit Queen Size</li>
  <li><strong>Salle de bain</strong> semi-privative</li>
  <li><strong>Climatisation</strong> pour se sentir au frais même quand il fait chaud</li>
</ul>

<p class="text-blue fw-bold">Partagés avec les hôtes</p>
<ul>
  <li><strong>Arrivée autonome</strong></li>
  <li><strong>Place de stationnement</strong> juste devant la maison avec possibilité de se garer sur le <strong>parking sécurisé</strong> si besoin</li>
  <li><strong>Wifi internet haut débit / fibre</strong></li>
  <li><strong>Ordinateur et vidéoprojecteur</strong> équipé d'un <strong>chromecast</strong> pour se divertir</li>
  <li><strong>Imprimante</strong> pour scanner, copier et imprimer vos documents</li>
  <li><strong>Salle de yoga</strong> pour vous détendre (musique et diffuseur d'huile essentielle)</li>
  <li><strong>Kit de repassage</strong> pour éviter les robes ou chemises froissés</li>
  <li><strong>Cuisiné équipée</strong> pour jouer les chefs étoilés et savourer la gastronomie Toulousaine</li>
  <li><strong>Machine à laver & étendoir</strong> (intérieur et extérieur) pour avoir des vêtements propres en toutes circonstances</li>
  <li><strong>Machine à café, thé</strong> sont présents afin de se sentir comme à la maison</li>
  <li><strong>Jardin et terrasse</strong> pour profiter des journées ensoleillées</li>
</ul>

<p class="text-blue fw-bold">Accès des voyageurs</p>
<p>
  Chambre privative avec salle de bain attenante
  <br>Parties communes en RdC (salon, cuisine, terrasse, jardin)
</p>

<p class="text-blue fw-bold">Autres remarques</p>
<ul>
  <li>Situé à 100m de la ligne 73 se rendant à une station de métro pour ne pas s'encombrer d'une voiture en ville (fonctionne de 6h à 21h)</li>
  <li>Situé à 400m du lac de la Tuilerie</li>
  <li>Situé à 500m d'un maître Artisan Boulanger d'exception</li>
  <li>Situé à 15 min de la cité de l'Espace</li>
  <li>Situé à 20 min du Capitole</li>
</ul>
