<h3 class="text-blue">Un logement tranquille avec jardin et terrasse</h3>

<p>
  Bienvenue dans notre charmante maison située dans un <strong>quartier calme et verdoyant.</strong>
  <br>Cette maison est notre résidence principale, mais lorsque nous sommes en déplacement, nous aimons la partager avec des voyageurs en quête de confort et de tranquillité.
  <br>En séjournant dans notre maison, vous pourrez profiter d'un <strong>cadre de vie chaleureux et convivial,</strong> avec une décoration soignée qui reflète notre personnalité et notre style de vie.
</p>

<p class="text-blue fw-bold">Le logement</p>
  <ul>
    <li><strong>Maison entière</strong> située dans un quartier calme et verdoyant</li>
    <li><strong>Arrivée autonome</strong></li>
    <li><strong>Climatisation</strong> pour se sentir au frais même quand il fait chaud</li>
    <li><strong>8 couchages</strong> : 2 lits doubles, 1 canapé lit double convertible, 1 matelas double au sol</li>
    <li><strong>Parking sécurisé</strong> pour ne plus galérer pour trouver une place de parking</li>
    <li><strong>Wifi internet haut débit / fibre</strong></li>
    <li><strong>Ordinateur et vidéoprojecteur</strong> équipé d'un <strong>chromecast</strong> pour se divertir</li>
    <li><strong>Imprimante</strong> pour scanner, copier et imprimer vos documents</li>
    <li><strong>Kit de repassage</strong> pour éviter les robes ou chemises froissés</li>
    <li><strong>Cuisiné équipée</strong> pour jouer les chefs étoilés et savourer la gastronomie Toulousaine</li>
    <li><strong>Machine à laver & étendoir</strong> (intérieur et extérieur) pour avoir des vêtements propres en toutes circonstances</li>
    <li><strong>Machine à café, thé</strong> sont présents afin de se sentir comme à la maison</li>
    <li><strong>Jardin et terrasse</strong> pour profiter des journées ensoleillées</li>
  </ul>

<p class="text-blue fw-bold">Accès des voyageurs</p>
<p>Notre maison est équipée de tout ce dont vous aurez besoin pour passer un séjour confortable, notamment une cuisine entièrement équipée, une salle de bains moderne et des chambres confortables.
  <br>La maison dispose également d'un jardin paisible, parfait pour se détendre et profiter du soleil pendant les jours chauds d'été. Vous pourrez également explorer les environs et découvrir les nombreux restaurants, bars et attractions touristiques à proximité.
</p>

<p class="text-blue fw-bold">Autres remarques</p>
<ul>
  <li>Personnes non prévues dans la réservation interdites</li>
  <li>Fêtes interdites</li>
  <li>Animaux interdits</li>
</ul>
