<h3 class="text-blue">Un logement tranquille avec jardin et terrasse</h3>

<p>
  Envie de rendre votre séjour à Toulouse <strong>inoubliable</strong> et <strong>paisible</strong> ?
  <br>→ Vous êtes à la recherche d'une maison tranquille et moins cher qu'un hôtel ?
  <br>→ Vous aimeriez connaître tous les bons plans pour profiter au maximum de votre séjour ?
  <br>Découvrir le Toulouse, hors des sentiers battus, voici ce que nous vous proposons !
</p>

<p>
  <strong class="text-blue">Le logement</strong>
  <br>100% AUTHENTIQUE
  <br>→ <strong>Maison entière</strong> située dans un quartier calme et verdoyant
  <br>→ <strong>8 couchages</strong> : 2 lits doubles, 1 canapé lit double convertible, 1 matelas double au sol
  <br>→ <strong>Parking sécurisé</strong> pour ne plus galérer pour trouver une place de parking
  <br>→ <strong>Wifi internet haut débit</strong> pour consulter Internet gratuitement et rapidement
  <br>→ <strong>Ordinateur</strong> pour consulter Internet
  <br>→ <strong>Vidéoprojecteur</strong> équipé d'un <strong>chromecast</strong> pour se divertir
  <br>→ <strong>Imprimante jet d'encre</strong> pour scanner, copier et imprimer vos documents ou vos photos
  <br>→ <strong>Kit de repassage</strong> pour éviter les robes ou chemises froissés
  <br>→ <strong>Cuisiné équipée</strong> pour jouer les chefs étoilés et savourer la gastronomie Toulousaine
  <br>→ <strong>Machine à laver & étendoir</strong> (intérieur et extérieur) pour avoir des vêtements propres en toutes circonstances
  <br>→ <strong>Machine à café, thé</strong> sont présents afin de se sentir comme à la maison
</p>

<p>
  <strong class="text-blue">Accès des voyageurs</strong>
  <br>100% UNIQUE
  <br>Envie d'expérimenter Toulouse comme un Toulousain ? Ok, le Capitole c'est sympa, mais il y a plein d'autres choses à voir à Toulouse.
  <br>Des bars, des restos, des musées, des rues animées…
  <br>Découvrir Toulouse, hors des sentiers battus, voici ce que nous vous proposons !
  <br>Vous trouverez dans notre pack de bienvenue :
  <br>→ Cartes et plans illustrés de Toulouse
  <br>→ Nos 3 restaurants préférés pour découvrir la richesse de la gastronomie du Sud-Ouest
  <br>→ Nos 15 meilleurs conseils et bons plans pour profiter au maximum de votre séjour à Toulouse
</p>

<p>
  <strong class="text-blue">Autres remarques</strong>
  <br>RESERVEZ MAINTENANT AVANT QU'IL NE SOIT TROP TARD
</p>
