<h3 class="text-blue">Les équipements</h3>

<div class="equipment py-2">
  <h5 class="fw-bold text-blue">Salle de bain</h5>
  <p>Baignoire</p>
  <p>Sèche-cheveux</p>
  <p>Produits de nettoyage</p>
  <p>Shampooing</p>
  <p>Savon pour le corps</p>
  <p>Eau chaude</p>
</div>

<div class="equipment">
  <h5 class="fw-bold text-blue">Chambre et linge</h5>
  <p>Lave-linge : dans le logement</p>
  <p class="with-comment">Équipements de base</p>
  <p class="comment">Serviettes, draps, savon et papier toilette</p>
  <p class="with-comment">Draps</p>
  <p class="comment">Linge de lit en coton</p>
  <p>Stores</p>
  <p>Fer à repasser</p>
  <p>Étendoir à linge</p>
  <p>Espace de rangement pour les vêtements : commode</p>
</div>

<div class="equipment">
  <h5 class="fw-bold text-blue">Divertissement</h5>
  <p>Connexion Ethernet</p>
</div>

<div class="equipment">
  <h5 class="fw-bold text-blue">Famille</h5>
  <p>Jeux de plateau</p>
</div>
<div class="equipment">
  <h5 class="fw-bold text-blue">Chauffage et climatisation</h5>
  <p>Climatisation centrale</p>
  <p>Ventilateurs portables</p>
  <p>Chauffage central</p>
  <p>Chauffage d'appoint</p>
</div>
<div class="equipment">
  <h5 class="fw-bold text-blue">Sécurité à la maison</h5>
  <p class="with-comment">Caméras de surveillance extérieure et/ou dans les espaces communs</p>
  <p class="comment">extérieur</p>
  <p>Détecteur de fumée</p>
  <p>Kit de premiers secours</p>
</div>
<div class="equipment">
  <h5 class="fw-bold text-blue">Internet et bureau</h5>
  <p class="with-comment">Vitesse du réseau wifi : 44 Mbps</p>
  <p class="comment">Vérifié par un test de débit. Il est possible de regarder des vidéos 4K en streaming et de participer à des appels vidéo.</p>
  <p class="with-comment">Espace de travail dédié</p>
  <p class="comment">Dans un espace commun</p>
</div>
<div class="equipment">
  <h5 class="fw-bold text-blue">Cuisine et salle à manger</h5>
  <p class="with-comment">Cuisine</p>
  <p class="comment">Espace où les voyageurs peuvent cuisiner</p>
  <p>Réfrigérateur</p>
  <p>Four à micro-ondes</p>
  <p class="with-comment">Équipements de cuisine de base</p>
  <p class="comment">Casseroles et poêles, huile, sel et poivre</p>
  <p class="with-comment">Vaisselle et couverts</p>
  <p class="comment">Bols, baguettes, assiettes, tasses, etc.</p>
  <p>Congélateur</p>
  <p>Lave-vaisselle</p>
  <p>Four</p>
  <p>Bouilloire électrique</p>
  <p>Cafetière : cafetière filtre</p>
  <p>Verres à vin</p>
  <p>Grille-pain</p>
  <p>Plaques de cuisson</p>
  <p>Cuiseur à riz</p>
  <p class="with-comment">Ustensiles de barbecue</p>
  <p class="comment">Barbecue, charbon, brochettes en bambou ou en métal, etc.</p>
  <p>Café</p>
  <p>Table à manger</p>
</div>
<div class="equipment">
  <h5 class="fw-bold text-blue">Extérieur</h5>
  <p class="with-comment">Arrière-cour privée - Clôture intégrale</p>
  <p class="comment">Un espace ouvert du logement généralement recouvert d'herbe</p>
  <p>Mobilier d'extérieur</p>
  <p>Espace repas en plein air</p>
  <p>Barbecue</p>
</div>
<div class="equipment">
  <h5 class="fw-bold text-blue">Parking et installations</h5>
  <p>Parking gratuit sur place</p>
  <p>Parking gratuit dans la rue</p>
</div>
<div class="equipment">
  <h5 class="fw-bold text-blue">Non inclus</h5>
  <p class="indisponible">Télévision</p>
  <p class="indisponible with-comment">Détecteur de monoxyde de carbone</p>
  <p class="comment">Le logement n'est pas équipé de détecteur de monoxyde de carbone.</p>

  <p class="indisponible">Entrée privée</p>
</div>
