<header class="header">
  <div class="header-text">
    <p class="my-2">Quartier calme</p>
    <h3 class="my-1">Maison spacieuse & climatisée</h3>
    <h3 class="my-1">Parking privatif</h3>
    <h3 class="my-2">Jardin - Terasse</h3>
    <p class="my-1 comment">Arrivée autonome</p>
  </div>
</header>
