<header class="header"
  style="background-image: url('<%= cl_image_path picture.photos.first.key %>')"
>
  <div class="header-text">
    <p class="my-2">Quartier calme</p>
    <h3 class="my-1">Maison spacieuse & climatisée</h3>
    <h3 class="my-1">Parking privatif</h3>
    <h3 class="my-2">Jardin - Terrasse</h3>
    <p class="my-1 comment">Arrivée autonome</p>
  </div>
    <%= render "admin/contents/edit_content_icon", content: @introduction_description_content %>
</header>
