<div class="header">
  <div class="header-text">
    <p class="my-2">QUARTIER CALME</p>
    <h3 class="my-1">Maison spacieuse</h3>
    <h3 class="my-1">Parking privatif</h3>
    <h3 class="my-2">Jardin - Terasse</h3>
    <p class="my-1 comment">Arrivée autonome</p>
  </div>
</div>
