<p class="with-comment fw-bold">Parfait pour l'été</p>
<p class="comment">Jardin, terrasse et climatisation</p>

<p class="with-comment fw-bold">Espace de travail dédié</p>
<p class="comment">Un espace commun avec wifi, bien aménagé pour travailler.</p>

<p class="fw-bold m-0">Annulation gratuite pendant 48 heures</p>
