<p class="with-comment fw-bold">Espace de travail dédié</p>
<p class="comment">Un espace commun avec wifi, bien aménagé pour travailler.</p>

<p class="with-comment fw-bold">Autre chose?</p>
<p class="comment m-0 text-danger">Autre chose?</p>
