<h3>Règlement intérieur</h3>
<p>Suivez ces règles pour vous comporter en voyageur respectueux et éviter tout problème pendant votre séjour.</p>

<h5>Qui peut séjourner dans le logement ?</h5>
<p><%= max_guests %> voyageurs maximum</p>
<p>Pas d'animaux</p>

<h5>Ce qui est autorisé</h5>
<p>Arrivée <%= arrival_hour %></p>
<p>Départ <%= departure_hour %></p>
<p>Pas de fête ni de soirée</p>
<p>Non fumeur</p>

<h5>Règles supplémentaires</h5>
<p>
  Les fêtes sont interdites
<br>Les personnes non inscrites dans la réservation sont interdites.
</p>
