<h3>Sécurité et logement</h3>
<p>Évitez les surprises en consultant ces informations importantes concernant le logement de votre hôte.</p>

<h5>Consignes de sécurité</h5>
<p class="with-comment">Ne convient pas aux bébés (moins de 2 ans)</p>
<p class="comment">Le logement ne dispose pas de lit bébé, n'est pas équipé de protection bébé au niveau des prises. Convient pour un nourrisson.</p>
<p>Lac, rivière ou autre étendue d'eau à proximité</p>
<p>Aire de jeux ou structure d'escalade</p>

<h5>Dispositifs de sécurité</h5>
<p>Caméra de surveillance extérieure</p>
<p class="indisponible">Détecteur de monoxyde de carbone</p>
<p>Détecteur de fumée installé</p>

<h5>Informations sur le logement</h5>
<p class="with-comment">Présence d'animaux de compagnie sur place</p>
<p class="comment">“Krampouz, notre chat noir et tigré, vit avec nous dans notre maison. Il est possible que vous le voyez pendant votre séjour.”</p>
<p>Le logement comprend des marches ou escaliers</p>
