<div class="row short-equipment">
  <div class="col-12 col-md-6">
    <p><i class="fa-solid fa-utensils" style="font-size: 1.2em"></i>Cuisine</p>
    <p><%= image_tag "icons/desk.png", alt: "", width: 18 %>Espace de travail dédié</p>
    <p><%= image_tag "icons/washing-machine.png", alt: "", width: 18 %>Lave-linge (Gratuit) : dans le logement</p>
    <p><i class="fa-solid fa-bath"></i>Baignoire</p>
    <p><%= image_tag "icons/camera.png", alt: "", width: 16 %>Caméras de surveillance extérieures</p>
  </div>
  <div class="col-12 col-md-6">
    <p><i class="fa-solid fa-wifi" style="font-size: 0.8em"></i>Wifi rapide / Fibre</p>
    <p><i class="fa-solid fa-car"></i>Parking gratuit sur place</p>
    <p><i class="fa-regular fa-snowflake" style="font-size: 1.2em"></i>Climatisation centrale</p>
    <p><i class="fa-solid fa-leaf"></i>Arrière-cour privée - Clôture intégrale</p>
    <p class="indisponible"><%= image_tag "icons/smoke-detector.png", alt: "", width: 18 %>Détecteur de monoxyde de carbone</p>
  </div>
</div>
