<div class="row short-equipment">
  <div class="col-12 col-md-6">
    <p><i class="fa-solid fa-utensils"></i>Cuisine</p>
    <p><%= image_tag "icons/desk.png", alt: "", width: 18 %>Espace de travail dédié</p>
    <p><%= image_tag "icons/washing-machine.png", alt: "", width: 18 %>Lave-linge : dans le logement</p>
    <p><i class="fa-solid fa-bath"></i>Baignoire</p>
    <p><%= image_tag "icons/camera.png", alt: "", width: 18 %>Caméras de surveillance extérieures</p>
  </div>
  <div class="col-12 col-md-6">
    <p><i class="fa-solid fa-wifi"></i>Vitesse du réseau wifi : 44 Mbps</p>
    <p>Parking gratuit sur place</p>
    <p><i class="fa-regular fa-snowflake"></i>Climatisation centrale</p>
    <p>Arrière-cour privée - Clôture intégrale</p>
    <p class="indisponible">Détecteur de monoxyde de carbone</p>
  </div>
</div>
