<h3 class="text-dark-blue">Un logement tranquille avec jardin et terrasse</h3>

<p>
  Envie de rendre votre séjour à Toulouse <strong>inoubliable</strong> et <strong>paisible</strong> ?
  <br>→ Vous êtes à la recherche d'une maison tranquille et moins cher qu'un hôtel ?
  <br>→ Vous aimeriez connaître tous les bons plans pour profiter au maximum de votre séjour ?
  <br>Découvrir le Toulouse, hors des sentiers battus, voici ce que nous vous proposons !
</p>
