<h3 class="text-dark-blue">Un logement tranquille avec jardin et terrasse</h3>

<p>
  Bienvenue dans notre charmante maison située dans un <strong>quartier calme et verdoyant.</strong>
  <br>Cette maison est notre résidence principale, mais lorsque nous sommes en déplacement, nous aimons la partager avec des voyageurs en quête de confort et de tranquillité.
  <br>En séjournant dans notre maison, vous pourrez profiter d'un <strong>cadre de vie chaleureux et convivial,</strong> avec une décoration soignée qui reflète notre personnalité et notre style de vie.
</p>
