<h3>Une chambre privée dans notre logement</h3>

<p>
  → Vous êtes à la recherche d'une chambre dans une maison tranquille et moins cher qu'un hôtel
</p>

<p>
  <strong>Le logement</strong>
  <br>100% AUTHENTIQUE : logement partagé avec les propriétaires
  <br>→ CHAMBRE située dans un quartier calme et verdoyant
  <br>→ 2 COUCHAGES avec 1 lit Queen Size
</p>
