<div class="row">
  <div class="col-12 col-sm-6">
    <p>Cuisine</p>
    <p>Espace de travail dédié</p>
    <p>Lave-linge (gratuit) dans le logement</p>
    <p>Baignoire</p>
    <p>Caméras de surveillance extérieure et/ou dans les espaces communs</p>
  </div>
  <div class="col-12 col-sm-6">
    <p>Wifi rapide (68 Mbit/s) <strong>pas la même que maison?</strong></p>
    <p>Parking gratuit sur place</p>
    <p>Climatisation centrale</p>
    <p>Arrière-cour privée - Clôture intégrale</p>
    <p class="indisponible">Détecteur de monoxyde de carbone</p>
  </div>
</div>
