<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Nouveau message depuis le site residence-lestang.herouapp.com</h4>
    <p> <%= @user.first_name.capitalize %> <%= @user.last_name.upcase %> vous a envoyé un message : </p>
    <p> " <%= @message %> " </p>
    <p> Vous pouvez lui répondre à l'adresse suivante : <%= @user.email %> </p>
  </body>
</html>
