.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Large devices (desktops, 992px and up) &
@media (min-width: 992px) {
  .card-category  {
    height: 210px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-category  {
    height: 240px;
  }
}

@media (min-height: 1020px) {
  .dashboard  {
    min-height: 60vh;
  }
}

.card-booking {
  overflow: hidden;
  height: 225px;
  max-width: 600px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
}

.card-booking img {
  height: 225px;
  width: 225px;
  object-fit: cover;
}

.card-booking i {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 24px;

  &.refund-icon {
    right: 40px;
  }
}

@media (max-width: 472px) {
  .card-booking img {
    width: 120px;
  }
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-booking .card-booking-infos {
  padding: 8px;
  width: 100%;
}

// Card users

.card-user {
  overflow: hidden;
  height: fit-content;
  max-width: 600px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
  a {
    width: 100%;
  }
}

.card-user h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-user h6 {
  font-size: 12px;
  font-weight: light;
  margin: 0;
}

.card-user p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-user .card-user-infos {
  padding: 16px;
}
