// Carousel Home Images

.carousel-home-img {
  height: 300px;
}

.carousel-home-images-little-screen {
  display: none;
}

@media (max-width: 1200px) {
  .carousel-home-img {
    height: 250px;
  }
}

@media (max-width: 992px) {
  .carousel-home-images-large-screen {
    display: none;
  }

  .carousel-home-images-little-screen {
    display: block;
  }

  .carousel-home-img {
    height: 350px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .carousel-home-img {
    height: 275px;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .carousel-home-img {
    height: 250px;
    margin: 0 auto;
  }
}

// Carousel Home Reviews

#carouselHomeReviews {
  &.carousel {
    position: unset !important;
  }
}

#carouselHomeReviews {
  // .carousel-control-prev {
  //   left: -70px;
  // }

  // .carousel-control-next {
  //   right: -70px;
  // }

  .carousel-inner {
    position: unset !important;
    padding: 16px 10vw;
    height: fit-content;
  }

  .carousel-indicators {
    bottom: 8px !important;
    margin: 0 !important;
  }
}

.img-room-carousel {
  height: 500px;
}

@media (max-width: 1200px) {
  .img-room-carousel {
    height: 475px;
  }
}

@media (max-width: 992px) {
  .img-room-carousel {
    height: 370px;
  }
}

@media (max-width: 768px) {
  .img-room-carousel {
    height: 350px;
  }
}

@media (max-width: 576px) {
  .img-room-carousel {
    height: 60vw;
  }
}

@media (max-width: 400px) {
  .img-room-carousel {
    width: 100%;
    object-fit: cover;
  }
}

.carousel-background-home-images {
  background-color: $beige;
  padding: 4px 0;
  }

.carousel-background-reviews {
  background-color: $beige;
  position: relative;
  padding: 3vmax 0;
}
