// Carousel Home Images

.carousel-home-img {
  width: 33%;
}

.carousel-home-images-little-screen {
  display: none;
}

@media (max-width: 992px) {
  .carousel-home-images-large-screen {
    display: none;
  }

  .carousel-home-images-little-screen {
    display: block;
  }
}

// Carousel Home Reviews

#carouselHomeReviews {
  &.carousel {
    position: unset !important;
  }
}

#carouselHomeReviews {
  // .carousel-control-prev {
  //   left: -70px;
  // }

  // .carousel-control-next {
  //   right: -70px;
  // }

  .carousel-inner {
    position: unset !important;
    padding: 16px 10vw;
    height: fit-content;
  }

  .carousel-indicators {
    bottom: 8px !important;
    margin: 0 !important;
  }
}

.img-room-carousel {
  width: 50vw;
  height: 33vw;
}

@media (max-width: 1200px) {
  .img-room-carousel {
    width: 100vw;
    height: 67vw;
  }
}

.carousel-background {
  background-color: $beige;
  position: relative;
  padding: 3vmax 0;
}
