.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 190px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

#send-message-area {
  background-color: $beige;
}

#send-message-div {
  position: relative;
  width: 100%;

  textarea.form-control {
    max-height: 50vh;
  }
}

#send-message-input {
  width: 90%;
  margin: 0 !important;
}

#send-message-button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 6%;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: $dark-blue;
  padding: 0 !important;
}

@media (min-width: 576px) {
  #send-message-input {
    width: 93%;
  }
  #send-message-button {
    width: 5%;
  }
}

@media (min-width: 992px) {
  #send-message-input {
    width: 95%;
  }
  #send-message-button {
    width: 3%;
  }
}

@media (min-width: 1200px) {
  #send-message-input {
    width: 96%;
  }
}

// To style the wrapping div
.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 500px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: lightcoral;
}

.receiver-style {
  background-color: lightblue;
}
