.chatroom {
  background: $cream;
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
  }

  #new_message {
    .form-group {
      margin-bottom: 0;
    }
  }
}

#send-message-area {
  background-color: $dark-beige;
}

#send-message-div {
  position: relative;
  width: 100%;

  textarea.form-control {
    max-height: 50vh;
    border-radius: 10px;
  }
}

#send-message-input {
  width: 90%;
  margin: 0 !important;
}

#send-message-button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 7%;
  background-color: transparent;
  border: none;
  font-size: 1.7rem;
  color: $dark-blue;
  padding: 0 !important;
}

@media (min-width: 576px) {
  #send-message-input {
    width: 93%;
  }
  #send-message-button {
    width: 5%;
  }
}

@media (min-width: 992px) {
  #send-message-input {
    width: 95%;
  }
  #send-message-button {
    width: 3%;
  }
}

@media (min-width: 1200px) {
  #send-message-input {
    width: 96%;
  }
}

// To style the wrapping div
.message-row {
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  padding: 8px;
  // min-height: 80px;
  color: $white;
  position: relative;

  p {
    font-size: 0.9rem;
  }
}

.sender-style {
  background-color: $dark-gray;
}

.receiver-style {
  background-color: $dark-blue;
}

.message-date {
  position: absolute;
  bottom: 2px;
  right: 6px;
  font-size: 0.7rem !important;
  font-style: italic;
  margin-bottom: 0;
}

#last-message {
  white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
  overflow: hidden; /* Masque le contenu dépassant de la largeur du conteneur */
  text-overflow: ellipsis; /* Affiche les trois petits points pour indiquer le troncage */
  width: 100%;
  opacity: 1;
}
