.header {
  background-image: asset-url("header.jpg");
  background-size: cover;
  background-position: center;
  padding: 11vh 0;
  width: 100%;
  text-align: center;

  .header-text {
    color: white;
    margin: 0;
    padding: 8px 0;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
  }
}

  .header-error {
    background-image: url("/images/lestang.jpg");
    background-size: cover;
    background-position: center;
    padding: 1vh 0;
    width: 100vw;
    height: 80vh;
    text-align: center;

    .header-text-error {
      color: white;
      margin: 25vh 0 16px 0;
      padding: 16px;
      background-color: rgba(255, 255, 255, 0.3);
      font-weight: bold;
      text-shadow: 3px 0px 7px black, -3px 0px 7px black, 0px 4px 7px black;

      h1 {
        font-size: 2em;
      }
      h2 {
        font-size: 1.5em;
      }
    }
  }

.header-blue {
  background-color: $blue;
  text-align: center;
  color: white;
}
