.navbar-lewagon {
  justify-content: space-between;
  background: $dark-gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link, .navbar-brand {
  color: rgba(255, 255, 255, 0.9);

  &:hover {
    color: white;
  }
}

.dropdown-menu {
  background: $dark-gray;
}

.dropdown-item {
  color: $white;
}
