<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-circle-arrow-left'></i>"), admin_root_path, class: "back-link" %>
</div>

<header class="p-5 header-blue">
  <h1>Photos</h1>
</header>
