<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-arrow-left-long'></i> <span>Dashboard</span>"), admin_root_path, class: "back-link" %>
</div>
<div class="p-5 header-blue">
  <h1>Créneaux</h1>
</div>

<div class="container row align-items-center dashboard">

  <% Room.all.each do |room| %>

    <div class="col-12 py-2">
      <%= link_to admin_room_slots_path(room), class: "text-decoration-none" do %>
        <div class="card-category" style="max-width: 400px; margin-inline: auto; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("#{room.name}.png") %>')">
          <%= room.name %>
        </div>
        <% end %>
    </div>

  <% end %>
</div>
