<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-arrow-left-long'></i> <span>Back</span>"), :back, class: "back-link" %>
</div>
<div class="p-4 header-blue">
  <h1>Créneaux</h1>
</div>
