<div class="container-fluid container background-back-link">
  <%= link_to raw("<i class='fa-solid fa-arrow-left-long'></i> <span>Dashboard</span>"), admin_root_path, class: "back-link" %>
</div>
<div class="p-5 header-blue">
  <h1>Créneaux</h1>
</div>
